@model CotoviaSite2.Models.Utilizadores

@{
    ViewData["Title"] = "Details";
}

<h1 class="subtitulo">Utilizadores</h1>
<h4 class="extratitulo">Detalhes do Utilizador</h4>
<a asp-action="Index" class="links">Voltar à Lista</a>
<hr />
<div>
    <dl class="row texto">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            <img src="~/fotos/@Model.Foto" alt="photo of @Model.Nome" title="@Model.Nome" height="200" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
    </dl>
</div>
