@model IEnumerable<CotoviaSite2.Models.Utilizadores>

@{
    ViewData["Title"] = "Index";
}

<h1 class="subtitulo">Utilizadores</h1>
<hr />
<table class="table texto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <img src="~/fotos/@item.Foto" alt="photo of @item.Nome" title="@item.Nome" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td style="font-size:15px">
                    <a asp-action="Details" asp-route-id="@item.ID" class="links">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
