

@{
    ViewData["Title"] = "CorpoNot";
    var noticia = ViewBag.Noticia[0];
}

<div class="text-center">
    <h1 class="titulo">@noticia.Titulo</h1>
    <h4 class="texto">@noticia.Data | @noticia.Autor.Nome | @noticia.Tema</h4>
    <a href="javascript:history.back(-1);" class="links">Voltar à Lista</a>
</div>
<hr />
<div class="texto text-center">
    <img class="card-img-top" src="~/fotos/@noticia.ListaFotografias" alt="Imagem da Noticia">
    <p>@noticia.Resumo</p>
    <p>@noticia.Conteudo</p>
</div>