

@{
    ViewData["Title"] = "CorpoNot";
    var noticia = ViewBag.Noticia[0];
}

<h1 class="titulo">@noticia.Titulo</h1>
<div class="texto" style="position:center">
    <h4>@noticia.Data | @noticia.Autor.Nome | @noticia.Tema</h4>
</div>
<a asp-action="Index" class="links" style="position:center">Voltar à Lista</a>
<hr />
<div class="texto" style="position:center">
    <p>@noticia.Resumo</p>
    <p>@noticia.Conteudo</p>
</div>