@model IEnumerable<CotoviaSite2.Models.Noticias>

@{
    ViewData["Title"] = "Index";
}

<h1 class="subtitulo">Notícias</h1>
<a asp-action="Create" class="links">Criar uma nova notícia</a>
<hr />
<table class="table texto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td style="font-size:15px">
                @if (item.Estado == Estado.Pendente && User.IsInRole("autor"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID" class="links">Editar</a><span>|</span>
                }
                @if (User.IsInRole("revisor"))
                {
                    <a asp-action="Aprovar" asp-route-id="@item.ID" class="links">Aprovar</a><span>|</span>
                }

                <a asp-action="Delete" asp-route-id="@item.ID" class="links">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<!--asp-action="Details"-->